:root {
  height: 100%;
  width: 100%;
  margin: 0;
}

.pos-abs {
  position: absolute;
}

.bottom-0 {
  bottom: 0;
}

div > button {
  height: 60px;
  width: 60px;
  font-size: larger;
}

/* #sticker1,
#sticker2,
#sticker3,
#sticker4,
#sticker5 {
} */

.width-100 {
  width: 100vw;
}

.margin-left-neg {
  margin-left: -7px;
}

.padding-top-med {
  padding-top: 10px;
}

.padding-bottom-med {
  padding-bottom: 10px;
}
