:root {
  height: 100%;
  width: 100%;
  margin: 0;
}

.sticker {
  position: absolute;
  cursor: pointer;
  font-size: x-large;
  padding: 5px;
}

.container {
  height: 50px;
  width: 50px;
  position: relative;
  display: inline-block;
}

.pos-rel {
  position: relative;
}

.bottom-0 {
  bottom: 0;
}

.padding-bottom-med {
  padding-bottom: 10px;
}

.disp-inline-block {
  display: inline-block;
}
